@import url('https://rsms.me/inter/inter.css');
/* Vars:

   ========================================================================== */
// Font
$mainFont                : 'Inter', sans-serif;

// Size
$mainFontColor           : #282828;
$secondFontColor         : #FFFFFF;
$mainFontSize            : 18px;
$mainFontWeight          : 600;
$mainLineHeight          : 150%;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 767px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$default-bg-color        : #E5E5E5;
$white-bg-color          : #FFFFFF;
$yellow-logo-color       : #FFCE00;
$first-bg-color          : #FFD400;
$second-bg-color         : #545454;
$third-bg-color          : #F9F9F9;
